@using BookStoreMVC.Models
@model IEnumerable<Book>
@{

    ViewBag.Title = "Книжный магазин";
}

<h3>&copy;Распродажа книг</h3>
<center>
    <div>
        <table width="400" border="1" style="border-collapse:collapse;">
            <tr style="width:auto;border-right:3px solid; border-color: black;background-color: red;">
                <td><p>Название книги</p></td>
                <td><p>  Автор </p></td>
                <td><p> Цена </p></td>
                <td><p> Изображение </p></td>
                <td><p> Купить</p></td>
                <td><p> Редактировать данные </p></td>
            </tr>
            @foreach (Book b in Model)
            {
                <tr style="width:auto;border:1px solid; border-color: black;background-color: red;">
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Author </p></td>
                    <td><p>@b.Price тг</p></td>
                    <td><img src="@b.Image" alt="загрузка..." width="30" height="50" /></td>
                    <td id="color2"><a href="/Home/Buy/@b.Id"><p>Купить</p> </a></td>
                    <td id="color2">
                        <a href="/Home/Views/@b.Id"><p>Данные</p> </a>
                        <a href="/Home/EditBook/@b.Id"><p>Редактировать книгу</p></a>
                        <a href="/Home/Delete/@b.Id"> Удалить</a>
                 </td>
                </tr>
            }
        </table>
        <a href="/Home/Create"> Создать книгу</a>
    </div>
</center>


